.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #f4f7fa;
  padding: 40px; /* Example padding */
}

.contentLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 44px;
  flex-shrink: 0;
}

.contentLeft a {
  display: flex;
  width: 333px;
  padding: 16px 20px;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  background-color: #007bff; /* Example button background color */
  color: white; /* Example button text color */
  font-size: 16px; /* Example button text size */
  font-weight: 600; /* Example button text weight */
}

.contentLeft a p {
  color: var(--Neutral-White, #FFF);

  /* body/large/semibold */
  font-family: "Public Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.2px;
}

.contentText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px; /* Example gap between elements */
}

.contentText p {
  color: #161c2d;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  opacity: 0.7;
}

.contentText h1 {
  color: #161c2d;
  font-size: 36px;
  font-weight: 600;
  line-height: 51px;
}



/* Additional z-indexes */
